* {
    margin: 0;
    padding: 0;
}
body {
    margin: 40px;
    font-family: Arial;
    font-size: 16px;
}
.container {
    display: flex;
}

.search-field {
    padding: 9px;
    font-size: 16px;
    width: 400px;
}
.searchtype {
    margin-left: 15px;
}

ul.results-list {
    list-style-type: none;
}
ul.results-list li {
    margin: 3px;
    padding: 5px;
    width: 300px;
    display: block;
    border: 1px solid #dddddd;
    box-shadow: 1px 1px #cccccc;
}
ul.results-list li:hover {
    background-color: #ffffee;
}
ul.results-list li[selected] {
    background-color: #eeeeee;
}
ul.results-list li[selected]:hover {
    background-color: #eeeedd;
}

ul.results-list li .distance {
    color: #888888;
    font-size: 12px;
}


.please-wait {
    margin: 200px;
    padding: 20px;
    width: 500px;
    border: 1px solid #dddddd;
    box-shadow: 1px 1px #cccccc;
}
.selection-details {
    margin: 3px;
    padding: 5px;
    width: 1000px;
    border: 1px solid #dddddd;
    box-shadow: 1px 1px #cccccc;
}

.selection-details .categories,
.selection-details .contact {
    margin: 3px;
    padding: 5px;
    border: 1px solid #dddddd;
    width: max-content;
}

.selection-details .links {
    padding: 15px 0;
}

.selection-details .links a {
    background-color: #aaaaee;
    border-radius: 3px;
    margin: 3px;
    padding: 3px 8px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.selection-details .categories span {
    background-color: #eeaaaa;
    border-radius: 2px;
    margin: 3px;
    padding: 5px 3px 3px 3px;
    font-size: 12px;
}

